{{#if user}}
<h1 data-id='{{user.id}}' style='color:cornflowerblue; margin: 30px auto 0; text-align: center;'>YOUR PROFILE</h1>
<form class='d-flex flex-column'
    style='gap: 20px; border: 2px solid darkblue; border-radius: 10px; padding: 20px; margin: 30px auto;'>
    <div id="editUser" style='display:none; color:darkcyan; background:rgb(99, 238, 238)'>Изменения сохранены</div>
    <p style='color:cornflowerblue;'>Avatar:
        {{#if user.avatar}}
        <img class="mr-3 rounded" src="{{user.avatar}}" alt="" style=' width: 75px; height:75px; background: grey;'>
        {{else}}
        <img class="mr-3 rounded" src="/news_static/no-profile-picture-icon.png" alt=""
            style='width: 75px; height:75px;'>
        {{/if}}
        <img src="/news_static/pen_1.png" alt="" width="22px" style='vertical-align: bottom;'
            onclick="viewEditAvatar()">

        <input type="file" name="avatar" id="editAvatar" style='display: none; padding-top: 10px;'>
    </p>


    <label for="UserName" style=' color:cornflowerblue;'>First name:
        <input type="text" id="UserName" name='firstName' value='{{user.firstName}}'>
    </label>
    <label for="validationCustomEmail" style='color:cornflowerblue;'>Email
        <input type="email" name='email' id="validationCustomEmail" value='{{user.email}}'>
    </label>
    <label id='pass' for="password" style='color:cornflowerblue;'>Password
        <input type="password" id="password" placeholder="Password" name='pass' readonly
            style='background: rgb(252, 252, 252);' value='{{user.password}}'>
        <img src="/news_static/pen_1.png" alt="" width="22px" onclick="viewEditPass()">
    </label>
    <div id="editPassword" style='display:none;'>
        <label for="editPass" style='color:cornflowerblue;'>Edit password
            <input type="password" id="editPass" placeholder="Password" name='password'>
        </label>
    </div>
    <button class="btn rounded-pill align-self-start" type="button" style=' background:deepskyblue; color:white;'
        onclick="sendForm()">Coхранить изменения</button>
</form>
{{else}}
<script>window.location.href = '/signin'</script>
{{/if}}


<script src='https://code.jquery.com/jquery-3.6.4.min.js'></script>
<script>

    function viewEditAvatar() {
        document.getElementById('editAvatar').style.display = 'block';
    }

    function viewEditPass() {
        document.getElementById('editPassword').style.display = 'block';
        document.getElementById('pass').style.display = 'none';
    }

    function sendForm() {
        var data = new FormData($('form')[0]);
        const id = document.querySelector('h1').dataset['id'];

        const avatar = data.get('avatar');
        console.log('pass', typeof (data.get('password')))
        console.log(avatar ? 'avatar' : 'null');
        data.delete('Confirmpass');
        data.append('roles', 'user');

        $.ajax({
            url: `/users/api/edit/${id}`,
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            method: 'PUT',
            headers: {
                'Authorization': 'Bearer ' + sessionStorage.getItem('access_token')
            },
            success: function (res) {
                alert('Prifile is updating!');
                window.location.href = `/users/profile/${id}`;
                document.getElementById('editUser').style.display = 'block';
            },
            error: function (xhr, status, error) {
                //Обработка ошибки
                console.error(status, error, xhr);
            }
        })
    }
</script>